<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/cloud_icon.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="aboutDarth" src="/images/darthvader.png">
        <p class="about">
            This is a simple weather site. The goal of this site is to show you temperature
            and description of climate for searched place.
            <br>
            &#8220;The Force will be with you. Always.&#8221;
            <br>
            <span class="about kenobi">- Obi-Wan Kenobi</span>
        </p>
    </div>
    {{>footer}}
    <script src="/js/script.js"></script>
</body>
</html>