<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/cloud_icon.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p class="faq">FAQ</p>
        <ul class="list">
            <li>If you don't get your location, please try to add more location of upper chain.</li>
            <li>For any more help/improvement, please feel free to 
                <a class="mail" href="mailto:sumer2000pasin@gmail.com">contact</a> me.</li>
        </ul>
        <p class="tyvisit">Thank You for visiting!</p>
    </div>
    {{>footer}}
    <script src="/js/script.js"></script>
</body>
</html>